<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Receipts</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">My Receipts</a></li>
                <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                <br>
                <li><a href="{% url 'account_list' %}">My Accounts</a></li>
                <li><a href="{% url 'create_account' %}">Create Account</a></li>
                <br>
                <li><a href="{% url 'category_list' %}">My Expense Categories</a></li>
                <li><a href="{% url 'create_category' %}">Create Expense Category</a></li>
                <br>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Sign up</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in receipt_list %}
                    <tr>
                        <td>{{ x.vendor }}</td>
                        <td>{{ x.total }}</td>
                        <td>{{ x.tax }}</td>
                        <td>{{ x.date|date:"m/d/y" }}</td>
                        <td>{{ x.category.name }}</td>
                        <td>{{ x.account.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>
</body>
</html>
